body {
  background: #eee; }

.container {
  margin-top: 1em;
  margin-bottom: 1em;
  height: 100%; }

section {
  padding: 2em 0;
  background: #fff;
  margin: 2em 0; }

h2 {
  font-weight: bold;
  text-align: center; }

#node-summary {
  padding: .5em 1em;
  border: 1px solid #ddd;
  margin: 1em;
  width: 50%; }
  #node-summary th,
  #node-summary td {
    line-height: 1.4em; }
    #node-summary th em,
    #node-summary td em {
      color: #999;
      font-style: normal;
      font-weight: normal; }
  #node-summary .value {
    font-size: 2.4em;
    font-weight: bold;
    text-align: right;
    padding-right: .3em;
    width: 2em; }
  #node-summary .label {
    font-size: 1.4em;
    padding-bottom: .5em; }
    #node-summary .label hr {
      border: none;
      margin: 0;
      height: 5px; }
  #node-summary .unresponsive {
    color: gray; }
    #node-summary .unresponsive hr {
      background-color: gray; }
  #node-summary .failed {
    color: red; }
    #node-summary .failed hr {
      background-color: red; }
  #node-summary .out-of-audit {
    color: pink; }
    #node-summary .out-of-audit hr {
      background-color: pink; }
  #node-summary .pending {
    color: orange; }
    #node-summary .pending hr {
      background-color: orange; }
  #node-summary .compliant {
    color: green; }
    #node-summary .compliant hr {
      background-color: green; }
  #node-summary .total {
    color: #333333; }
    #node-summary .total hr {
      background-color: #333333; }
    #node-summary .total th {
      padding-top: .2em;
      border-top: 1px solid #ddd; }

table.node-summary {
  font-size: 1.2em; }
  table.node-summary tr:hover td {
    background: #eee;
    cursor: pointer; }
  table.node-summary th {
    padding-top: 0;
    padding-bottom: 0;
    border-bottom: 1px solid #dddddd; }
  table.node-summary .groups th {
    font-weight: normal;
    padding-top: 0;
    padding-bottom: 0;
    border: none; }
  table.node-summary .status {
    font-weight: bold; }
  table.node-summary td.host {
    color: #3366ff;
    text-decoration: underline;
    cursor: pointer; }
  table.node-summary .total {
    font-weight: bold;
    border-top: none; }
    table.node-summary .total th {
      text-align: right; }
  table.node-summary tr.total th {
    border: none; }

.total {
  border-top: 1px solid #ddd; }

.full-report {
  font-size: 1.2em;
  font-weight: bold;
  position: absolute;
  top: 40px;
  right: 0; }
